{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="inner-wrapper">
	<div class="left">
		<img src="{% static 'img/pet.jpg' %}" class="base-img beast_img">
    </div>
    <div class="right">
	  	<H2>О ПРИЮТЕ</H2>
        <p>Добро пожаловать на официальный сайт приюта "Пушистики", созданный для поиска находящимся здесь животным теплого, любящего и надежного дома.</p>


        <p>К сожалению, бездомные животные не исчезнут с улиц города; сейчас их численность регулируют путем отлова и размещения в приюты.  Без нашей помощи они никогда не получат шанса на новую, более светлую и достойную жизнь, полную любви и заботы хозяина, никогда не поделятся с человеком своей безграничной нежностью.</p>


	     <p>Если вы хотите, чтобы в вашем доме поселилась маленькая пушистая радость – поищите его в приюте! Здесь вы найдете фотографии кошек, собак и попугев, живущих в приюте, в полной мере готовых к жизни рядом с вами. Тех, кто стоит в очереди за счастьем – им очень нужна помощь и содействие, чтобы выбраться из приюта на передержку или в добрые руки!</p>
	</div>

</div>
{% endblock %}

{% block title %}
	<title>Приют домашних животных</title>  
{% endblock %}